<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coldwarbarracks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Scorestreaks"
            android:label="SCORESTREAKS"/>
        <activity
            android:name=".Wildcards"
            android:label="WILDCARDS" />
        <activity
            android:name=".Equipment"
            android:label="EQUIPMENT" />
        <activity
            android:name=".Perks"
            android:label="PERKS" />
        <activity
            android:name=".SecondaryWeapons"
            android:label="SECONDARY WEAPONS" />
        <activity
            android:name=".SniperRifles"
            android:label="SNIPER RIFLES" />
        <activity
            android:name=".LightMachineGuns"
            android:label="LIGHT MACHINE GUNS" />
        <activity
            android:name=".TacticalRifles"
            android:label="TACTICAL RIFLES" />
        <activity
            android:name=".SubmachineGuns"
            android:label="SUBMACHINE GUNS" />
        <activity
            android:name=".AssaultRifles"
            android:label="ASSAULT RIFLES" />
        <activity
            android:name=".PrimaryWeaponsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>