<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dwestaway.coldwarbarracks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3235243213995142~9431693381"/>

        <activity
            android:name="com.dwestaway.coldwarbarracks.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dwestaway.coldwarbarracks.Scorestreaks"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dwestaway.coldwarbarracks.Equipment"
            android:label="EQUIPMENT"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dwestaway.coldwarbarracks.Perks"
            android:label="PERKS &amp; WILDCARDS"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dwestaway.coldwarbarracks.SecondaryWeapons"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dwestaway.coldwarbarracks.SniperRifles"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dwestaway.coldwarbarracks.LightMachineGuns"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dwestaway.coldwarbarracks.TacticalRifles"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dwestaway.coldwarbarracks.SubmachineGuns"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dwestaway.coldwarbarracks.AssaultRifles"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dwestaway.coldwarbarracks.PrimaryWeaponsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>


    </application>

</manifest>